
*{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


.gameBoard {
    width: 1100px;
    height: 900px;
    margin-top: 10px;
    margin-left: 10px;
    display: grid;
    border: 1px solid black;
    grid-template-columns: repeat(11, 100px);
    grid-template-rows: repeat(9, 100px);
    position: relative;
}

.box {
    width: 100px;
    height: 100px;
    position: relative;
    z-index: -1;
}

.empty {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.gameCard {
    font-size: 12px;
    border: 1px solid black;
    padding: 5px;
}


/*----------PLAYER FIELD---------*/

.playerField {
    width: 900px;
    height: 700px;
    position: absolute;
    top: 100px;
    left: 100px;
    border: 1px solid black;
}

.start {
    width: 100%;
    height: 100%;
    background-image: url("https://img.freepik.com/premium-photo/monopoly-with-white-background-high-quality-ultra-h_889056-87870.jpg?w=1480");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.startBtn {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 999;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}


.startBtn img {
    width: 100%;
    height: 100%;
}

.startBtn h4 {
    position: absolute;
    top: 150px;
    left: 0;
    transition: 1s ease-in-out;
    opacity: 0;
    color: #4e0404;
}


.startBtn:hover {
    transform: scale(1.2);
}

.startBtn:hover h4 {
    opacity: 1;
}

/*---------PLAYER---------*/
.player {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    pointer-events: none;
}

.player img {
    width: 100%;
    height: 100%;
}

.player1 {
    left: 0;
}
.player2 {
    left: 65px;
}
